<%= form_with(model: [ @investigation, InvestigationNote.new ], local: true) do |form| %>
  <% if @investigation_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investigation_note.errors.count, "error") %> prohibited this investigation note from being saved:</h2>

      <ul>
      <% @investigation_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
