<h1>Edit Officer</h1>
<h1><%= @officer.name %></h1>
<%= form_with model: @officer, local: true do |form| %>
  <%# Form fields for officer attributes %>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :rank %>
    <%= form.select :rank, [
        ['Officer', 'Officer'],
        ['Sergeant', 'Sergeant'],
        ['Detective', 'Detective'],
        ['Detective Sergeant', 'Detective Sergeant'],
        ['Lieutenant', 'Lieutenant'],
        ['Captain', 'Captain'],
        ['Commissioner', 'Commissioner']
      ], { include_blank: true } %>
  </div>

  <div>
    <%= form.label :unit_id, 'Unit' %>
    <%= form.collection_select :unit_id, Unit.active, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :ssn %><br>
    <%= form.text_field :ssn %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.select :role, Officer.roles.keys.map { |role| [role.titleize, role] }, include_blank: true %>
  </div>

  <div>
    <%= form.label :username %>
    <%= form.text_field :username, id: 'officer_username' %>
  </div>

  <div>
    <%= form.label :password %>
    <%= form.password_field :password, id: 'officer_password' %>
  </div>

  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: 'officer_password_confirmation' %>
  </div>

  <div>
    <%= form.submit "Update Officer" %>
  </div>
<% end %>
<%# Display officer details %>

<%= link_to 'Edit', edit_officer_path(@officer) %> |
<%= link_to 'Back to List', officers_path %>
