<div class="container">
  <div class="statistics">
    <div id="stats" class="card">
      <h5>Statistics for <%= @unit.name %> Unit</h5>
      <p>Number of Active Officers: &nbsp;&nbsp;<%= @unit.officers.active.count %></p>
      <p>Number of Open Cases: &nbsp;&nbsp;<%= @unit.number_of_unique_open_investigations %></p>
      <p>Number of Closed Cases: &nbsp;&nbsp;<%= @unit.number_of_unique_closed_investigations %></p>
      <p>Cases Involving Batman: &nbsp;&nbsp;<%= @unit.number_of_unique_investigations_involving_batman %></p>
    </div>
  </div>

  <div id="officers" class="card">
    <h4>Active Officers in <%= @unit.name %> Unit</h4>
    <% if @unit.officers.active.any? %>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>Active Assignments</th>
          </tr>
        </thead>
        <tbody>
          <% @officers.each do |officer| %>
            <tr>
              <td><%= officer.last_name %>, <%= officer.first_name %></td>
              <td><%= officer.rank %></td>
              <td><%= officer.assignments.current.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @officers %>
    <% else %>
      <p>There are no active officers currently in this unit.</p>
    <% end %>
  </div>
</div>
