<h1>New Criminal</h1>

<%= form_with model: @criminal, local: true do |form| %>
  <%= form.label :first_name %>
  <%= form.text_field :first_name %>

  <%= form.label :last_name %>
  <%= form.text_field :last_name %>

  <%= form.label :aka %>
  <%= form.text_field :aka %>

  <%= form.label :convicted_felon %>
  <%= form.check_box :convicted_felon %>

  <%= form.label :enhanced_powers %>
  <%= form.check_box :enhanced_powers %>

  <%= form.submit "Create Criminal" %>
<% end %>
